@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(198, 237, 255);
}
.bawah{
  margin-top: 35px;


  display: flex;
  flex-direction: column;   /* ini untuk arah tulisannya ke atas ke bawah */
  align-items: center;      /* tombol ke tengah */


  text-align: center;
}


.tulisan{
  font-size: 15px;
  color: #857650;
  margin-bottom: 15px;
}


.song{
  background: none;
  border: none;
  cursor: pointer;
}


.song img{
  width: 320px;
  height: 320px;
  transition: .3s;
}


.song img:hover{
  transform: scale(1.10);
  opacity: 0.8;
}
.wish{
    font-size: 16px;
    color:#c499af;
    margin-left: 130px;
    margin-right: 130px;
}
.wish1{
    font-size: 10px;
    margin-left: 130px;
    margin-right: 130px;
}
.flowerlily{
    background-color: #857650;
    border: #857650;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
    transition: .3s;
}
.flowerlily:hover{
  transform: scale(1.10);
  opacity: 0.8;
}
.lily{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;      /* tengah horizontal */
  justify-content: center;  /* tengah vertikal */
}
#lilyy {
  opacity: 0;
  transform: scale(0);
  transition: 1s ease;
}

#lilyy.muncul {
  opacity: 1;
  transform: scale(1);
}

footer{
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;      /* tengah horizontal */
  justify-content: center;  /* tengah vertikal */
}


